<!DOCTYPE html>
<html data-theme="<%- app.theme %>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
<main>
  <h1>Rejestracja</h1>
  <div>
    <%- include("forms/generic.ejs", form) %>
  </div>
  <span>Masz już konto? <a href="/auth/login">Zaloguj się!</a></span>
</main>

</html>