<!DOCTYPE html>
<html data-theme="<%- app.theme %>" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>
<body>
  <main>
    <h1><%= title %></h1>

   
    <div class="dod"><a href="/formularz/kategoria/dodaj">Dodaj kategorię</a>
    <a href="/formularz/haslo/dodaj">Edycja Haseł</a></div>
    <br>
    <a href="/hasla">Powrót do listy kategorii</a><br>
    <a href="/">Powrót do strony głównej</a>
  </main>
</body>
</html>