<!DOCTYPE html>
<html data-theme="<%- app.theme %>" lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body><main>
    <h1>Kategoria "<%= kategoria %>" jest pusta!</h1>
    <p>Ta kategoria nie ma jeszcze żadnych haseł. Wróć później!</p>
  
    <a href="/hasla">Do wyboru kategorii</a><br>
    <a href="/">Powrót na strone glowna!</a>
  </body></main>
</html>