<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <h1><%= title %></h1>

<ul>
  <% for (let id in kategorie) { %>
    <li>
      <a href="/gramy/<%= id %>"><%= kategorie[id].name %></a>
    </li>
  <% } %>
</ul>
 
  </body>
</html>